name: Deploy Laravel Sail Ejercicio 2 Pec6

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy remoto con Sail de un proyecto Laravel en un VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            cd /var/www/libreria
            git pull
            ./vendor/bin/sail down
            ./vendor/bin/sail up -d --build
            ./vendor/bin/sail npm install
            ./vendor/bin/sail npm run build
            ./vendor/bin/sail artisan migrate