name: Deploy Laravel Sail Practica 2 Pec6

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy Laravel con Sail Practica 2
        run: |
          set -e
          cd /home/panajoshua/Documentos/DAW/libreria
          git pull
          composer install
          ./vendor/bin/sail down
          ./vendor/bin/sail up -d --build
          ./vendor/bin/sail artisan migrate --force